# Archivo de configuración de tags activos
# Las líneas que empiezan con # se consideran desactivadas/comentadas pero aparecerán apagadas en la app.
# Formato: "Clave": "Valor"

"Naturaleza": "nature",
"Paisajes": "landscape",
"Montañas": "mountains",
"Espacio": "space",
"Arquitectura": "architecture",
"Borobudur Temple": "Borobudur temple",
"Japón": "Japan",
#"Linux": "Linux",
"Veganismo": "veganism",
"Love Animals": "love animals",
#"Tesla": "Tesla",
"Nikola Tesla": "Nikola Tesla",
