[Desktop Entry]
Name=Wallpaper Con Citas
GenericName=Gestor de Fondos de Pantalla con Citas
Comment=Descarga fondos e integra citas estilizadas sobre la imagen
Exec=wallpaper-con-citas
Icon=background
Terminal=false
Type=Application
Categories=Graphics;Utility;GTK;
Keywords=Wallpaper;Wallpapers;Citas;Quotes;Fondos;Pantalla;Gtk;
